.si--rating-bar {
  display: flex;
  flex-direction: row;

  .si--user-rating {
    cursor: pointer;
  }

  .si--user-rating-tool {
    min-width: 100px;
    max-width: 150px;
    height: 1.5rem;
  }
}
