@import url('https://fonts.googleapis.com/css2?family=Armata&family=Inconsolata&display=swap');
@import "./bootstrap-init";



body {
  font-family: "Armata", var(--bs-body-font-family);

  @media (prefers-color-scheme: dark) {
    color: #aaaaaa;
    background-color: #000000;
  }

  a {
    text-decoration: unset;
    &:hover {
      text-decoration: underline;
      @media (prefers-color-scheme: dark) {
        color: #a95ca6;
      }
    }

    @media (prefers-color-scheme: dark) {
      color: #a95ca6;
      &:hover {
        color: #a95ca6;
      }
    }
  }
  .mono {
    font-family: 'Inconsolata', monospace;
  }

  header {
    @import "./progulus-header";
  }

  .np--album-cover-container {
    .progress {
      @media (prefers-color-scheme: dark) {
        background-color: #e9ecef38;
      }
    }
  }
  .np--recent-song-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .np--recent-song {
      max-width: 100%;
      //margin-left: 0.5rem;
      //margin-right: 0.5rem;

    }
    @media (min-width: 768px) {
      .np--recent-song {
        max-width: 50%;
        transition: width ease-in-out 0.4s;
        &.selected {
          max-width: 100%;
        }
      }
    }

    @media (min-width: 1024px) {
      .np--recent-song {
        max-width: 33.33333%;
      }
    }

    @media (min-width: 1200px) {
      .np--recent-song {
        max-width: 25%;
      }
    }
  }




  #progulus--main-body {
    margin-top: 66px;

    .progulus--sub-header {
      margin-bottom: 1rem;
      .progulus--current-listeners {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
      }
    }

    @import "song-info";

    @import "request-page";
  }


}


@import "../../node_modules/flag-icon-css/sass/flag-icons";
.flag-icon-uk {
  @extend .flag-icon-gb;
}


