@import url('https://fonts.googleapis.com/css2?family=Armata&family=Inconsolata&display=swap');


body {
  font-family: "Armata", var(--bs-body-font-family);

  .mono {
    font-family: 'Inconsolata', monospace;
  }

  .np--recent-song-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .np--recent-song {
      max-width: 50%;
      //margin-left: 0.5rem;
      //margin-right: 0.5rem;

    }
    @media (min-width: 768px) {
      .np--recent-song {
        max-width: 33.3333333%;
      }
    }
    @media (min-width: 1200px) {
      .np--recent-song {
        max-width: 25%;
      }
    }
  }

  #progulus--header-logo {
    height: 180px;
    background-image: url(/rprweb/images/progulus-logo-1.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    @media (min-width: 560px) {
      background-size: auto;
    }
  }

}


@import "../../node_modules/flag-icon-css/sass/flag-icons";
