.progulus--request {
  &-artist-list {


    &.display--grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .album-cover--container {
        min-height: 250px;
      }
      .artist {
        padding: 0.5rem;
        text-align: center;
        flex: 0 0 25%;

        .song-info {
          visibility: hidden;
        }

        &:hover {
          .song-info {
            visibility: visible;
          }
        }
      }
    }

    &.display--list {
      columns: 4 250px;
      img {
        display: none;
      }
    }
  }
}
