.song-info {
  .si--row {
    display: flex;
    flex-direction: row;
  }
  .si--icon {
    margin-right: 0.5rem;
    color: var(--bs-gray-400);
    min-width: 1.5rem;
    display: inline-block;
  }
  .si--title {
    font-size: 1.75rem;
    font-weight: 500;
  }
  .si--artist {
    font-size: 1.25rem;
  }
  .si--album {
    font-style: italic;
  }
  .si--content {
    flex: 1 1 auto;
    font-weight: 200;
  }
  .col-rating {
    min-width: 4rem;
    text-align: right;
  }

  .si--requester {
    margin-top: 0.75rem;
  }

  .si--rating-bar {
    display: flex;
    flex-direction: row;

    .si--user-rating {
      cursor: pointer;
      flex: 0 0 auto;
    }

    .si--user-rating-tool {
      min-width: 100px;
      max-width: 150px;
      height: 1.5rem;
    }
  }

  .si--rating {
    .si--all-rating {
      flex: 0 0 auto;
    }
  }

}
